*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #0f172a;
  color: #f8fafc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
}
h1{
  margin-bottom: 0.5rem;
  color: #38bdf8;
}

input[type="date"]{
  padding: 0.5rem;
   border-radius: 6px;
   border: none;
   font-size: 1rem;
   margin-bottom: 1rem;
   background-color: #1e293b;
   color: white;
   color-scheme: dark;
}

#app{
  max-width: 800px;
  background-color: #1e293b;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

img, video, iframe {
  max-width: 100%;
  border-radius: 8px;
  margin: 1.5rem 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
p{
  line-height: 1.6;
  font-size: 1.1rem;
  color: #cbd5e1;
  text-align: left;
}
